# mod_rewrite starts here

RewriteEngine on

# Does not apply to any existing directories. Meaning that if the folder doesn't exist on the server, then don't change anything and don't run the rule!

Rewrite Cond %{REQUEST_FILENAME} !-d

# Check for file in directory with .html expansion

Rewwrite Cond %{REQUEST_FILENAME}\.html -f

# Here we actually show the page that has the .html extension

RewriteRule ^(.*)$ $1.html [NC, L]
