@media only screen and (max-width: 600px) {

.top1 {
  margin-bottom: 2%;
}

.search {
  margin-right: 10%;
}

.SearchBar {
  height: 20px;
}

.contact {
  max-width: 97%;
  width: 97%;
}

.contactInfo {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  margin-right: 15%;
}

.ContactBox {
  width: 90%;
}

.contactTxt2 {
  border: 2px solid black;
  padding: 2%;
  margin-left: 10%;
  background-color: white;
  border-radius: 15px;
  font-size: 12px;
  width: auto;
  margin: 0 auto;
  margin-top: 2%;
}

.contactHeader {
  font-size: 15px;
}

.contactTxt2Header {
   font-size: 12px;
}

}

@media only screen and (min-width: 600px) and (max-width: 1250px) {

  .contactTxt2Header {
    font-size: 12px;
  }

}
